Default Windows desktop 64-bit.exe
IMG/*.jpg
data_backup/4_laps/*.jpg
data_backup/4_laps/IMG/*.jpg
data_backup/turn_after_bridge/IMG/*.jpg
data_backup/udacity/data/IMG/*.jpg
data_udacity/IMG/*.jpg
data/IMG/*.jpg
new_4laps_data/IMG/*.jpg
recover_driving_log.csv
